// font-weigt

$font-bold-0:400;
$font-bold-1:bold;
$font-bold-3:800;

// font sizes

$font-size-xs: inherit;
$font-size-sm:0.8rem;
$font-size-md:1.7rem;
$font-size-lg:2.2rem;
$font-size-xl:4rem;

// border radius;

$border-radius-xs: 5px;
$border-radius-sm: 10px;
$border-radius-xl: 50%;

// width
$blendWIdth: 95%;

// box-shadow
$box-shadow-1:0px 0px 5px rgba(0,0,0, .50)